body{
    width: 100%;
}
.navbar{
    background-color: rgb(191, 11, 11) !important;
    width: 100%;
    
}
a.nav-link{
    color: whitesmoke !important;
}
.navbar-nav{
    color: whitesmoke;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: rgb(191, 11, 11);
}
a.navbar-brand:focus, .navbar-brand{
    color: whitesmoke;
}
.nav-item{
    color: whitesmoke;
}
.btn-outline-light{
    background-color: whitesmoke;
    color: black;
}
.form-control{
    background-color: whitesmoke;
}
.fa-user{

    color: whitesmoke;
    margin: 10px 0 0 10px;
}
a.signup{
    margin-top: 10px;
    text-align: center;
    justify-items: center;
    align-items: center;
    color: aqua;
}
.content-container{
    width: 95%;
    height: auto;
    margin-left: 20px;
}
.left_menu{
    width: 100%;
    height: auto;

}

.btn-primary{
    background-color:rgb(191, 11, 11);    
    border:none;
    --bs-btn-bg:rgb(191, 11, 11);
    --bs-btn-hover-bg:rgba(191, 11, 11, 0.8);
    --bs-btn-border-color:none;
    --bs-btn-hover-border-color:none;
    --bs-btn-active-bg:none;
    --bs-btn-active-border-color:none;
    --bs-btn-disabled-bg:none;
    --bs-btn-disabled-border-color:none;
    margin-top: 2vh;
    border: none;
}
.btn-check:focus+.btn, .btn:focus{
    background-color: rgb(191, 11, 11);
    border-color:none;
    --bs-btn-hover-bg:rgb(191, 11, 11);
    border:none;
    box-shadow:none;
}
.btn-primary:active{
    border: none;
    box-shadow: none;
}
.offcanvas-body a{
    display: flex;
    flex-direction:column ;
    width: 100%;
    height: 20px;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}
.offcanvas-body a:hover{
    color:rgb(191,11,11);
}
/*Color for footer*/
.footer{
    margin-top: 1%;
    background-color: black;
    color: white;
    width: 100%;
}
.footer a{
    color: white !important;
}
.footer li{
    color: white;
}
.card{
    display: inline-block;
    justify-content: start;
    width: 90%;
    height: 10%;
    margin-left: 20px;
}
.block2{
    display: inline-block;
    justify-content: end;
    margin-top: 5vh;
    width: 90%;
    height: 10%;
    margin-left: 20px;
}
.intoblock_el{
    display: inline-block;
    position: relative;
    width: 24%;
}
.content-container_elem{
    width: 98%;
}
element.style{
    width: 98%;
}
.units{
    display: inline-block;
    flex-direction: row;
}
.col-md-3{
    display: inline-block;
}